

.titulo{color: rgb(255, 247, 12);}
h2{color:black;}
p{color:black}
li{color:black}
.fondo{background-color: blueviolet;}
.fondo{background-image: url(./asset/namaste2.jpg) ;}
.fondo{background-repeat: no-repeat;}
.fondo{background-size: 75%; 100%; }
h1{color: black;}
.titulo{color: black;}
.fondo{background-size: cover;}
h1{font-family: 'Times New Roman', Times, serif;
font-size: 900%;}
.pon {font-size: 300%;}
.encabezado {display:flex;
flex-direction: column;align-items: center;justify-content: center;} 
.ene2 {display:flexbox;flex-direction:row;}
.titulo {color: rgb(142, 14, 82);}
h1{color: rgb(241, 0, 129);}
.pon {font-size: 200%;}
.logo{background-size: cover;}

.pon {font-size: 100%;}
.secciones{display:flex; flex-wrap: nowrap;
     flex-direction: row;justify-content:space-between; height: 100 vh ; text-align: center
    ; gap: 25px;}
    


